<header class="blurr w-full flex flex-col items-center justify-center fixed z-[100]">
    <nav class="lg:w-[70%] w-[90%] flex items-center justify-between lg:py-6 py-2">
        <a href="/"
            ><svg width="114" height="40" viewBox="0 0 114 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M40.5086 7.61754C42.7773 7.61754 44.5522 8.15267 45.8311 9.22063C47.11 10.2909 47.7506 11.8801 47.7506 13.9884C47.7506 15.4069 47.4548 16.6064 46.8654 17.5821C46.2737 18.5601 45.4374 19.2982 44.3542 19.7987C43.2711 20.2992 41.9899 20.5506 40.5086 20.5506H36.7675L36.8521 27.7542C36.8521 27.9387 36.7675 28.031 36.5985 28.031H33.5892C33.4112 28.031 33.3223 27.9387 33.3223 27.7542L33.4624 17.6766L33.3223 7.89203C33.3223 7.7075 33.4112 7.61523 33.5892 7.61523H40.5064L40.5086 7.61754ZM36.7408 17.9257H40.7488C41.7987 17.9257 42.6705 17.6259 43.3645 17.0285C44.0584 16.4311 44.4054 15.4369 44.4054 14.046C44.4054 12.7543 44.0762 11.7948 43.4201 11.1743C42.764 10.5515 41.8365 10.2401 40.6354 10.2401H36.8254L36.7408 17.589V17.9234V17.9257Z"
                    fill="#65DC8B"
                />
                <path
                    d="M52.3904 28.031H49.5368C49.3677 28.031 49.2832 27.9387 49.2832 27.7542L49.3966 17.7504L49.2832 7.89203C49.2832 7.7075 49.3677 7.61523 49.5368 7.61523H52.3904C52.5683 7.61523 52.6573 7.7075 52.6573 7.89203L52.5439 17.7343L52.6573 27.7519C52.6573 27.9364 52.5683 28.0286 52.3904 28.0286V28.031Z"
                    fill="#65DC8B"
                />
                <path
                    d="M61.5002 28.3812C59.9811 28.3812 58.6888 28.0606 57.619 27.4194C56.5514 26.7781 55.7373 25.8693 55.1791 24.693C54.6208 23.5166 54.3428 22.1373 54.3428 20.5526C54.3428 18.968 54.6208 17.5979 55.1791 16.4123C55.7373 15.2267 56.5492 14.3041 57.619 13.649C58.6888 12.9939 59.9811 12.6641 61.5002 12.6641C63.0193 12.6641 64.3071 12.9847 65.3681 13.6259C66.4268 14.2671 67.2342 15.176 67.7858 16.3523C68.3396 17.5287 68.6154 18.9103 68.6154 20.4927C68.6154 22.075 68.3396 23.4636 67.7858 24.6492C67.232 25.8347 66.4268 26.7551 65.3681 27.4055C64.3094 28.056 63.0193 28.3835 61.5002 28.3835V28.3812ZM61.5002 26.0193C62.3165 26.0193 62.9926 25.814 63.5331 25.4057C64.0736 24.9975 64.4762 24.3908 64.7431 23.5835C65.01 22.7762 65.1434 21.7659 65.1434 20.5503C65.1434 19.3348 65.0078 18.3452 64.7364 17.5241C64.4651 16.7029 64.0558 16.0801 63.5131 15.658C62.9682 15.2359 62.2898 15.0237 61.4735 15.0237C60.6395 15.0329 59.95 15.2498 59.4073 15.6719C58.8623 16.094 58.4553 16.7191 58.184 17.5448C57.9126 18.3706 57.7769 19.3832 57.7769 20.578C57.7769 21.7728 57.917 22.7762 58.1995 23.5812C58.482 24.3885 58.8957 24.9951 59.4451 25.4034C59.9944 25.8117 60.6795 26.017 61.5047 26.017L61.5002 26.0193Z"
                    fill="#65DC8B"
                />
                <path
                    d="M75.1838 28.2929C74.4253 28.2929 73.7136 28.1499 73.053 27.8639C72.3924 27.5779 71.8609 27.1027 71.4583 26.443C71.0557 25.7811 70.8533 24.893 70.8533 23.7743V17.2559L70.8666 15.5213H69.263C69.0851 15.5213 68.9961 15.429 68.9961 15.2445V13.2908C68.9961 13.1063 69.0851 13.014 69.263 13.014H70.8511L70.8088 9.52875C70.8088 9.34422 70.8978 9.25195 71.0757 9.25195H73.9872C74.1562 9.25195 74.2407 9.34422 74.2407 9.52875L74.2118 13.014H77.4747C77.6526 13.014 77.7416 13.1063 77.7416 13.2908V15.2445C77.7416 15.429 77.6526 15.5213 77.4747 15.5213H74.1985V17.2282L74.2274 23.689C74.2274 24.4755 74.372 25.0176 74.6633 25.3151C74.9547 25.6127 75.3706 25.7603 75.9156 25.7603C76.2069 25.7603 76.4805 25.7418 76.7385 25.7026C76.9965 25.6634 77.2278 25.6196 77.4347 25.5712C77.6326 25.5043 77.7305 25.5804 77.7305 25.8041V27.5825C77.7305 27.737 77.6593 27.8408 77.5192 27.8893C77.1722 27.9954 76.7963 28.09 76.3938 28.173C75.9912 28.256 75.5886 28.2976 75.1838 28.2976V28.2929Z"
                    fill="#65DC8B"
                />
                <path
                    d="M86.8675 12.7051C88.2086 12.7051 89.3319 13.0511 90.2416 13.7407C91.1513 14.4304 91.8385 15.3623 92.3012 16.534C92.766 17.7058 92.9973 19.0206 92.9973 20.4783C92.9973 21.9361 92.7504 23.2439 92.2589 24.4295C91.7673 25.6151 91.0578 26.5608 90.1348 27.2666C89.2118 27.9725 88.1019 28.3231 86.8096 28.3231C85.8532 28.3231 85.0147 28.1316 84.2918 27.7464C83.569 27.3635 82.9662 26.8053 82.4769 26.0764L82.5325 32.7125C82.5325 32.8971 82.4435 32.9893 82.2656 32.9893H79.3275C79.1495 32.9893 79.0605 32.8971 79.0605 32.7125L79.1584 21.6893L79.0739 13.291C79.0739 13.1064 79.1584 13.0142 79.3275 13.0142H82.21C82.3968 13.0142 82.4858 13.1064 82.4769 13.291L82.4213 15.1708C82.8995 14.3935 83.5156 13.7869 84.2696 13.3555C85.0236 12.9219 85.8888 12.7074 86.863 12.7074L86.8675 12.7051ZM85.8844 25.9311C86.7095 25.9311 87.3946 25.7166 87.9373 25.2899C88.48 24.8632 88.887 24.2588 89.1539 23.4815C89.4208 22.7042 89.5543 21.77 89.5543 20.6813C89.5543 19.5349 89.4231 18.5454 89.1606 17.715C88.8981 16.8846 88.5 16.2457 87.9662 15.7982C87.4324 15.3507 86.7607 15.127 85.9555 15.127C84.8301 15.127 83.9515 15.5699 83.3199 16.4533C82.6882 17.339 82.3612 18.6515 82.3435 20.3907C82.3346 22.1506 82.637 23.5138 83.2509 24.4803C83.8648 25.4467 84.7434 25.9311 85.8866 25.9311H85.8844Z"
                    fill="#65DC8B"
                />
                <path
                    d="M108.044 13.2888L107.946 20.4485L108.044 27.7535C108.044 27.9381 107.955 28.0303 107.777 28.0303H104.923C104.737 28.0303 104.648 27.9381 104.657 27.7535L104.699 25.8575C104.221 26.6256 103.609 27.2253 102.864 27.659C102.119 28.0926 101.249 28.3071 100.255 28.3071C98.9137 28.3071 97.7882 27.9634 96.8808 27.2784C95.9711 26.5933 95.2838 25.6637 94.8212 24.492C94.3585 23.3202 94.125 22.0055 94.125 20.5477C94.125 19.0899 94.3719 17.7959 94.8634 16.6103C95.355 15.4247 96.0645 14.479 96.9875 13.7732C97.9106 13.0697 99.0204 12.7168 100.313 12.7168C101.287 12.7168 102.145 12.9106 102.886 13.3004C103.627 13.6902 104.232 14.2668 104.701 15.0349L104.645 13.2842C104.637 13.0997 104.721 13.0074 104.899 13.0074H107.782C107.959 13.0074 108.048 13.0997 108.048 13.2842L108.044 13.2888ZM101.169 25.9452C102.303 25.9452 103.186 25.5 103.82 24.6119C104.452 23.7216 104.774 22.3976 104.783 20.6377C104.801 18.8685 104.503 17.503 103.883 16.5411C103.264 15.5793 102.383 15.0972 101.238 15.0972C100.413 15.0788 99.73 15.2817 99.1917 15.7108C98.6535 16.1398 98.2464 16.7464 97.9751 17.533C97.7037 18.3195 97.568 19.2583 97.568 20.347C97.568 21.5142 97.7015 22.5152 97.9684 23.3502C98.2353 24.1875 98.6357 24.8311 99.1717 25.2832C99.7055 25.7352 100.373 25.9567 101.169 25.9475V25.9452Z"
                    fill="#65DC8B"
                />
                <path
                    d="M113.233 28.031H110.38C110.21 28.031 110.126 27.9387 110.126 27.7542L110.239 17.7504L110.126 7.89203C110.126 7.7075 110.21 7.61523 110.38 7.61523H113.233C113.411 7.61523 113.5 7.7075 113.5 7.89203L113.387 17.7343L113.5 27.7519C113.5 27.9364 113.411 28.0286 113.233 28.0286V28.031Z"
                    fill="#65DC8B"
                />
                <path
                    d="M7.60851 0.5H0.80249C0.635429 0.5 0.5 0.640447 0.5 0.813698V20.6412C0.5 20.8145 0.635429 20.9549 0.80249 20.9549H7.60851C7.77557 20.9549 7.911 20.8145 7.911 20.6412V0.813698C7.911 0.640447 7.77557 0.5 7.60851 0.5Z"
                    fill="#65DC8B"
                />
                <path
                    d="M26.9723 20.9549V21.264L19.9505 28.5483C19.8949 28.6059 19.8171 28.6405 19.737 28.6405H8.21349C8.04668 28.6405 7.911 28.7812 7.911 28.9542V39.1863C7.911 39.4654 7.58627 39.6061 7.39499 39.4077L0.588968 32.3472C0.533363 32.2896 0.5 32.2088 0.5 32.1258V28.772C0.5 28.689 0.531139 28.6082 0.588968 28.5506L7.82426 21.0472C7.87986 20.9895 7.95771 20.9549 8.03778 20.9549H19.2566C19.4234 20.9549 19.5591 20.8142 19.5591 20.6412V8.49929C19.5591 8.32629 19.4234 8.18559 19.2566 8.18559H7.91323V7.87651L14.9328 0.592264C14.9884 0.534599 15.0662 0.5 15.1463 0.5H26.6676C26.8344 0.5 26.9701 0.640703 26.9701 0.813698V20.9549H26.9723Z"
                    fill="#65DC8B"
                />
                <path d="M26.9701 0.5H26.9678V8.18559H26.9701V0.5Z" fill="#65DC8B" />
            </svg>
        </a>
        <ul class="lg:flex hidden items-center justify-center space-x-14 text-[#fefefe]">
            <li class="<%= currentRoute === '/About' ? 'active-tab' : '' %> leading-4"><a href="/About">About</a></li>
            <li class="<%= currentRoute === '/FAQs' ? 'active-tab' : '' %> leading-4"><a href="/FAQs">FAQs</a></li>
            <li class="<%= currentRoute === '/Contact' ? 'active-tab' : '' %> leading-4"><a href="/Contact">Contact</a></li>
        </ul>
        <a href="/Join" class="<%= currentRoute === '/Join' ? 'font-semibold' : 'font-medium' %> lg:inline-block hidden text-[#1B2B0A] px-10 py-2 rounded-xl bg-[#fefefe]">Join waitlist</a>
        <button id="menu" class="lg:hidden hamburger hamburger--collapse" type="button">
            <span class="hamburger-box text-[#fefefe]">
                <span class="hamburger-inner text-[#fefefe]"></span>
            </span>
        </button>
    </nav>
    <div class="relative w-full">
        <div id="submenu" class="lg:hidden hiddenn flex justify-center absolute w-full bg-[#fefefe] top-0">
            <ul class="w-[90%] text-left py-10 space-y-10 text-[#0B1E2E]">
                <li class="<%= currentRoute === '/' ? 'active-tab' : '' %> leading-4"><a href="/">Home</a></li>
                <li class="<%= currentRoute === '/About' ? 'active-tab' : '' %> leading-4"><a href="/About">About</a></li>
                <li class="<%= currentRoute === '/FAQs' ? 'active-tab' : '' %> leading-4"><a href="/FAQs">FAQs</a></li>
                <li class="<%= currentRoute === '/Contact' ? 'active-tab' : '' %> leading-4"><a href="/Contact">Contact</a></li>
                <a href="/Join" class="<%= currentRoute === '/Join' ? 'font-semibold' : '' %> font-medium inline-block text-[#1B2B0A] text-center py-2 rounded-xl bg-[#fefefe] w-full border border-[#65DC8B]">Join waitlist</a>
            </ul>
        </div>
    </div>
</header>
